.button {
    cursor: pointer;
    background: $color__background-button;
    border-radius: 5px;
    border: 3px solid $color__background-button;
    color: $white;
    font-weight: 600;
    min-width: 10rem;
    padding: .875rem 2rem;
    transition: all .15s ease;
    border-bottom: 0;

    &:hover {
        text-decoration: none;
        border-bottom: none;
        background: transparent;
    }

}
