//Generic styles for hardcoded pages that are acting like templates
header {
    flex: 1 0 0;
}

main {
    flex: 3 0 0;
}

.wrapper {
    margin: 3rem auto;
    max-width: 75rem;
    display: flex;
    flex-flow: row wrap;
}


@include breakpoint(small only) {
    header {
        flex: 0 0 100%;
    }

    main {
        flex: 0 0 100%;
    }
}
