//Generic styles for hardcoded pages that are acting like templates
header {
    flex: 1 0 0;
    padding-left: .937rem;
    padding-right: .937rem;
}

main {
    flex: 4 0 0;
    padding-left: .937rem;
    padding-right: .937rem;
}

.content {
    margin: 9rem auto 0;
    width: 100%;
    display: block;
}

.wrapper {
    margin: 3rem auto 1rem auto;
    max-width: 75rem;
    display: flex;
    flex-flow: row wrap;
    padding: 5rem 3rem;
    z-index: 300;
    position: relative;
    background: #eee;
}

.home_hero {
    margin-right: -10rem;
    margin-top: -15rem;
    transition: all .125s ease;
    background-image: url('./images/home_hero_3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
    &:hover {

    }
}

.botanical {
    position: absolute;
    top: -10%;
    left:-30%;
    z-index: 200;
    width: 100vw;
    height: 100vh
}
#countdown{
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    top: 30%;
    right: 1%;
    padding: 1rem 1rem 0 1rem;
    border-radius: 5px;
    color: #fff;
}

#countdown > div {
    display: inline-block;
    background: rgba(0, 0, 0, .125);
    padding: .5rem 0 .5rem .5rem;
    border-radius: 10px;
    min-width: 4.75rem;
    margin: 0 1rem;
}

#countdown > div > div {
  padding: 0 10px;
  line-height: 1;
  &:first-of-type {
      padding-left: 0;
  }
}

#countdown div > span{
    display: block;
	font-size: 16px;
    padding: 0;
    line-height: 1;
}


@include breakpoint(small only) {
    header {
        flex: 0 0 100%;
    }

    main {
        flex: 0 0 100%;
    }
    .wrapper {
        margin: 0 auto 0 auto;
        max-width: 75rem;
        display: flex;
        flex-flow: row wrap;
        padding: 0 1rem;
    }
    .home_hero {
        margin-right: 0;
        margin-top: 0;
        min-height: 35rem;
    }
    .title {
        margin-top: 0;
        margin-right: 0;
    }
    .content {
        margin: 2rem 0;
    }
}
