//Generic styles for hardcoded pages that are acting like templates
header {
    flex: 1 0 0;
    padding-left: .937rem;
    padding-right: .937rem;
}

main {
    flex: 3 0 0;
    padding-left: .937rem;
    padding-right: .937rem;
}

.content {
    margin: 16rem 0 0 0;
}

.wrapper {
    margin: 3rem auto;
    max-width: 75rem;
    display: flex;
    flex-flow: row wrap;
}

.home_hero {
    margin-right: -12rem;
    transition: all .125s ease;
    background-image: url('./images/home_hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 65vh;
    background-position: center center;
}

@include breakpoint(small only) {
    header {
        flex: 0 0 100%;
    }

    main {
        flex: 0 0 100%;
    }
}
